{% extends 'base.html.twig' %}



{% block body1 %}
    <div class="container">
        <h1>О компании</h1>
        <p>Вот уже в течение 7 лет мы занимаемся производством дверей для бани, мебели для бани, товаров для бани, сауны и дома, а также эксклюзивных резных изделий. Последние 5 лет стратегия предприятия ориентирована на производство дверей различных комплектаций и дизайнов, индивидуальных проектов с элементами резьбы, деревянной мебели из массива по индивидуальному заказу .</p>
        <p>Изготовление резных изделий - это искусство. вне зависимости от того, где оно находится, в доме, сауне или бане, оно может кардинально менять дизайн Вашего помещения. Но, прежде всего оно должно быть красивым, функциональным, удобным и безопасным. Эксклюзивное изделие можно создать разными способами – все зависит от фантазии мастера и заказчика. Но такие изделия может изготовить только опытный и профессиональный производитель, который при проектировании и изготовлении изделия учитывает все пожелания заказчика.</p>
        <p>Наше предприятие предлагает Вам мебель , двери , аксессуары для бани , саун и дома изготовленные по нашему дизайну , также мы готовы выполнить индивидуальный дизайн и эксклюзивную отделку изделий с элементами резьбы по дереву.</p>
        <p>С помощью иллюстрированного каталога, расположенного на сайте, Вы можете заказать любую понравившуюся Вам вещь или резьбу по дереву.</p>
        <p>Закажите в нашей компании мебель, двери, аксессуары для бани , сауны , дома или резьбу!</p>
        <p>Выберите любую понравившуюся Вам дверь , мебель или аксессуар с помощью нашего фото каталога, где вы можете увидеть работы сделанные нашими руками!</p>

    </div>
{% endblock %}