{% extends 'base.html.twig' %}



{% block body1 %}
    <div class="container">
    <h1>Оплата и доставка</h1>
    <p>1. Вы связываетесь с менеджером по телефону или отсылаете запрос через форму на нашем сайте, и отправляете Ваш
        заказ и реквизиты нам, а мы отправляем Вам счет на оплату.

        - после оплаты счета вы получаете продукцию прямо со склада. ул. Пугачева д. 1, Йошкар-Ола,Марий-Эл, Россия,

        - либо вы оплачиваете наличными на месте.</p>
    <p>
        2. Вы связываетесь с менеджером по телефону или отсылаете запрос через форму на нашем сайте, и отправляете Ваш
        заказ и реквизиты нам, а мы отправляем Вам счет на оплату.

        После оплаты счета мы отгружаем продукцию в любой регион России через транспортную компанию.

        Стоимость доставки до транспортной компании оговаривается отдельно. Стоимость услуг транспортной компании
        оплачивает покупатель. Все документы отправляются вместе с грузом.


    </p>
    <p>
        3. Для физических лиц - Свяжитесь с менеджером, чтобы обсудить удобные для вас варианты доставки и оплаты.
    </p>
    <h3>Предложение для оптовых покупателей!</h3>
    <p> Приглашаем к сотрудничеству оптовиков по специальным ценам. Оплата возможна любым способом. Доставка и сроки
        изготовления обговариваются индивидуально. Наш ассортимент постоянно пополняется и представлен на сайте. Ваши
        запросы отправляйте на e-mail: maximus13@stil-n.com , либо по телефону: +79177129427;+79877020829.</p>
    <h4>Мы - ваш выбор , потому что</h4>
    <p>- в одном месте собрано всё для Вашего банного магазина, бани или сауны

        - большой ассортимент товаров для бани и сауны .

        - наличие собственного производства гарантирует присутствие качественного, оригинального и недорогого товара в Ваших магазинах и торговых точках.</p>
    </div>
{% endblock %}