{% extends 'admin/index.html.twig' %}
{% block body %}
    <div class="row">

        <div class="col-12">
            <h3>Изменение информации</h3>
            <form method="post">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Заголовок" aria-label="Заголовок" aria-describedby="basic-addon2">

</div>
          <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Текст новости</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<input type="submit" value="Добавить">
</form>
    </div>

{% endblock %}
{% block button %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/admin/products/addProducts">Добавить</a>
                </button>
            </div>

        </div>

    </div>
{% endblock %}